.card { 
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    justify-content: center;
    gap: 10px;
     
    color: rgba(204, 204, 204, 0.6); 
    background-color: rgb(70, 70, 70); 
    border: none;
    text-decoration: none;
    
    overflow: hidden;
    transition: all 0.2s ease-in-out;

    span {
        font-size: 64px;
        color: rgba(249, 170, 67, 0.6);
        transition: all 0.2s ease-in-out;
    }

    p {
        padding: 2% 5% 2% 5%;
        font-size: 16px;
        text-align: center;
    }

    &:hover {
        color: rgba(204, 204, 204, 1); 

        span {
            color: rgba(249, 170, 67, 1);
        }
    }

}