header {
    padding: 0 2% 0 2%;
    height: 100px;
    background-color: rgb(54, 54, 54);
 
    .container {
       margin: auto;
       height: 100%;
       max-width: 1440px;
 
       display: flex;
       justify-content: space-between;
       align-items: center;
    
       > div {
          display: flex;
          align-items: center;
       }
    
       .navbar {
          display: flex;
          gap: 30px;
 
          > li {
             padding: 10px 0 10px 0;
 
             border-radius: 10px;
             list-style: none;
             transition: all 0.5s ease-in-out;
 
             &:hover {
                background-color: #fff;
                box-shadow: 0px 0px 12px 1px black;
                color: black;
 
                & > a {
                   color: black;
                }
             }
 
             a {
                padding: 10px;
                width: 100%;
                font-size: 20px;
                font-weight: 500;
                color: #ffffff;
                text-decoration: none;
             }
          }
 
          .activePage {
             background-color: #fff;
             box-shadow: 0px 0px 12px 1px black;
             color: black;
 
             & > a {
                color: black;
             }
          }
       }
    
       .searchContainer {
          display: flex;
          gap: 25px;
 
          // input[type="search"]::-webkit-search-cancel-button { 
          //    display: none;
          // }
 
          // input[type="search"]::-ms-clear { 
          //    display: none;
          // }
 
          > .searchInput {
             position: relative;
             padding-left: 5%;
 
             width: 220px;
             height: 40px;
 
             font-size: 16px;
 
             background-color: rgb(68, 68, 68);
             border-radius: 10px;
             border: 1px solid rgb(199, 193, 193);
 
             transition: all 0.2s ease-in-out;
 
             &:focus {
                background-color: rgb(255, 255, 255);
                box-shadow: 0px 0px 12px 1px black;
                outline: blue solid;
             }
 
             &:hover {
                background-color: rgb(255, 255, 255);
                box-shadow: 0px 0px 12px 1px black;
             }
          }
 
          > .button {
             height: 40px;
             width: 75px;
 
             font-size: 16px;
 
             border-radius: 10px;
             background-color: rgb(255, 255, 255);
 
             cursor: pointer;
             transition: all 0.2s ease-in-out;
 
             &:focus {
                outline: blue solid;
             }
 
             &:hover {
                background-color: rgb(122, 245, 165);
             }
          }
       }
 
       .clear {
          position: absolute;
          left: 85%;
          top: 11.5%;
       
          width: 18px;
          height: 20px;
       
          cursor: pointer;
          background-color: transparent;
       }
    }
 }
 
 
 
 