.container {
   margin: auto;

   max-width: 1200px;

   display: grid;
   grid-template-rows: 1fr;
   

   > img {
      margin-top: 70px;
      height: 400px;
      width: 100%;
      border-radius: 25px;

      object-fit: cover;

      transition: all 2s ease-in-out;

      overflow: hidden;

      &:hover {
         transform: scale(1.015); 
         transition: all 2s ease-in-out;
      }
   }

   > h3 {

      margin-top: 40px;
      font-size: 28px;
      text-align: center;
   } 

   > ul {
      padding: 0;
      margin: 40px;
      list-style-type: none;
      font-size: 20px;
      text-align: left;
   }
}   