.container {
   margin: auto;

   max-width: 1200px;

   display: grid;
   grid-template-rows: 1fr;

   > h3 {

      margin-top: 40px;
      font-size: 28px;
      text-align: center;
   } 

   > ul {
      padding: 0;
      margin: 40px;
      list-style-type: none;
      font-size: 20px;
      text-align: left;
   }
}   