.wrapper {
   height: 400px;

   span {
      width: 10px;
      height: 10px;
   }

   .slide {
      width: 100% !important;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 25px;

      transition: all 2s ease-in-out;

      overflow: hidden;

      img {
         width: 100%;
         border-radius: 25px;
      }
   }
}