.container {
    margin: 7% auto;

    max-width: 1200px;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 40px;

    .imgWrapper {

        margin: auto;

        width: 500px;
        height: 500px;

        display: flex;
        justify-content: center;
        
        border-radius: 50%;
        box-shadow: 0 0 18px rgb(0, 0, 0);

        overflow: hidden;

        .image {
            padding-left: 12px;

            height: 100%;

            transition: 3s ease-in-out;
        
            &:hover {
                transition: 2s ease-in-out;
                transform: scale(1.097);
            }
        } 

        @media screen and (max-width: 1200px) {
            width: 400px;
            height: 400px;
        }

        @media screen and (max-width: 1050px) {
            width: 350px;
            height: 350px;
        }

    }

    > h2 {
        font-size: 40px;
    }

    .text {
        
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 40px;

        > p {
            font-size: 24px;
            text-align: center;
        }

        > a {
            width: 220px;
            height: 75px;

            display: flex;
            justify-content: center;
            align-items: center;

            border-radius: 20px;
            border: 1px solid rgb(54, 54, 54);

            background-color:  rgb(54, 54, 54);

            color: white;

            font-size: 20px;
            text-decoration: none;

            transition: all 0.5s ease-in-out;
            

            &:hover {
                border: 1px solid black;
                background-color: white;
                color: black;
            }
        }
    }
}