
h2 {
   padding-top: 60px;

   display: flex;
   justify-content: center;
   align-items: center;
   font-size: 40px;
}

button {
   border: 1px solid black;
}

#root {
   margin: 0 auto;
}

.App {
   min-height: 100%;
   display: flex;
   flex-direction: column;
}

main {
   flex: 1 0 auto;
   background-color: rgb(250, 250, 250);
}

footer {
   flex: 0 0 auto;
}
