

.rounded-img {
  width: 60%;
  border-radius: 50%;
  box-shadow: 0 0 10px rgb(10, 132, 207);
  padding: 0.2em;
  margin-bottom: 2em;
  transition: 2s linear;
}
.rounded-img:hover {
  box-shadow: 0; /* Удалили тень */
  border-radius: 0;
  border-radius: 20%;
  transition: 1s linear;
}

.body {
  background-color: rgba(204, 204, 204, 0.308);
}
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  padding: 10px;
  background: #000000;
  color: rgb(255, 255, 255);
  width: 100%;
  margin-right: 100px;
}
.btn {
  color: #000000;
  border-radius: 1em;
  background: #ffffff;
  margin: 0 auto;
  padding: 10px;
  text-align: center;
  max-width: 200px;
  font-size: 18px;
  cursor: pointer;
  transition: 0.5s linear;
}
.main-page {
  color: rgb(54, 54, 54);
  text-shadow: #000000 50%;
}


.rounded-img {
  width: 60%;
  border-radius: 50%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
  padding: 0.2em;
  margin-bottom: 2em;
  transition: 2s linear;
}
.rounded-img:hover {
  box-shadow: 0; /* Удалили тень */
  border-radius: 0;
  border-radius: 20%;
  transition: 1s linear;
}

.body {
  background-color: rgba(204, 204, 204, 0.308);
}
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  padding: 10px;
  background: #000000;
  color: rgb(255, 255, 255);
  width: 100%;
  margin-right: 100px;
}
.btn {
  color: #000000;
  border-radius: 1em;
  background: #ffffff;
  margin: 0 auto;
  padding: 10px;
  text-align: center;
  max-width: 200px;
  font-size: 18px;
  cursor: pointer;
  transition: 0.5s linear;
}
.main-page {
  color: rgb(54, 54, 54);
  text-shadow: #000000 50%;
}
